.dark {
  background: #080808;
}

.dark #poem {
  color: white;
}

.dark p {
  margin: 50px;
  line-height: 200%;
  font-family: serif;
  font-style: oblique;
  color: #080808;
}

.dark p:hover {
  color: aliceblue;
}

.magicImage {
  margin: auto;
  width: 72rem;
  height: 72rem;
  max-width: 500px;
  max-height: 500px;

  display: inline-block;
  position: relative;
}

.magicImage .magicBack {
  width: 100%;

  position: absolute;
  top: 0%;
  left: 0%;

  filter: brightness(1.5);
}

.magicImage .magicFront {
  width: 88%;
  position: absolute;
  top: 6%;
  left: 6%;

  opacity: 0;
}

.magicImage:hover .magicFront {
  opacity: 1.0;
}

.magicImage:hover .magicBack {
  opacity: 0.0;
}