#entranceText {
  width: 100%;
  max-width: 800px;
  padding: 10px 40px;
  margin: 50px auto;

  text-align: left;
}

#entranceText p {
  margin: auto;
  padding: 3px 1rem;
}

#bracket {
  font-size: larger;
  display: inline;
}

#fun {
  display: inline;
}

#prefix {
  display: inline-block;
  vertical-align: middle;
}

#postfix {
  display: inline-block;
  vertical-align: middle;
}

#entranceText:hover #fun {
  color:rgb(255,41,30);
}