#entranceText {
  width: 100%;
  max-width: 800px;
  padding: 10px 40px;
  margin: 50px auto;

  text-align: left;
}

#entranceText p {
  margin: auto;
  padding: 3px 1rem;
}

#welcome {
  display: inline;
}

#entranceText:hover #welcome {
  color:rgb(255,41,30);
}