#links {
  max-width: 700px;
  margin: 100px auto;
  padding: 0px 50px;
}

.linkBox {
  padding: 0px;
  text-decoration: none;
}

.linkCommon {
  margin: 10px 0px;
  text-align: left;
  padding: 1.2rem 1.5rem;

  position: relative;
  display: block;

  font-size: xx-large;

  transition: 0.3s;
  -webkit-transition: all 0.3s;
}

.linkBox:hover .linkCommon {
  border-radius: 2px;
  background-color: #2010f8;
  opacity: 0.9;
  margin: 10px 30px;
}

.linkBox:hover .name {
  text-shadow: 0px 0px 5px rgb(255, 41, 30);
  opacity: 0.8;
  color: transparent;
}

.linkBox .description {
  width: 100%;

  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 10px;

  color: whitesmoke;
  font-size: large;
}

.linkBox:visited .linkCommon .description {
  color: #2010f8;
}

.linkBox:hover .linkCommon .description {
  color: whitesmoke;
}
