#links {
  max-width: 700px;
  margin: 100px auto;
}

.linkBox {
  text-align: left;
  padding: 1.2rem 1.5rem;
  margin: 10px 50px;

  position: relative;
  display: block;

  font-size: xx-large;
  text-decoration: none;

  transition: 0.3s;
  -webkit-transition: all 0.3s;
}

.linkCommon {
  text-decoration: none;
}

.linkCommon * {
  transition: 0.3s;
  -webkit-transition: all 0.3s;
}

.linkCommon.linkCommon:hover .name {
  text-shadow: 0px 0px 5px rgb(255, 41, 30);
  opacity: 0.8;
  color: transparent;
}

.linkCommon:hover .linkBox {
  border-radius: 2px;
  background-color: #2010f8;
  opacity: 0.9;
  margin: 10px 80px;
}

.linkCommon .description {
  width: 100%;

  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 10px;

  color: whitesmoke;
  font-size: large;
}

.linkCommon:visited .description {
  color: #2010f8;
}

.linkCommon:hover .description {
  color: whitesmoke;
}
