#worksLists {
  max-width: 800px;
  width: 80%;
  margin: 0px auto 0px;
  padding: 0px;
}

.worksList * {
  text-decoration: none;
}

.worksList {
  width: 100%;
  text-align: left;
  margin: 15px 0px 70px 0px;
}

.worksList h1 {
  margin: 0px;
}

.worksList p {
  margin: 10px 2rem;
}

.items {
  width: 100%;
  margin: 0px 0px 0px 2rem;
  padding: 0px;
}

.hasLink {
  position: absolute;
  bottom: 0.8rem;
  right: 8px;
  color: #2010f8;

  font-size: small;
  font-family: serif;
  padding: 0px 6px;
  border:solid 1px;
  border-radius: 50px;
}

.hasDist {
  position: absolute;
  bottom: 2.4rem;
  right: 8px;
  color: red;

  font-size: small;
  font-family: serif;
  padding: 0px 6px;
  border:solid 1px;
  border-radius: 50px;
}

.noImage {
  position: relative;
  margin: 0px;
  padding: 10px 5px;
  border: 1px solid transparent;
}

.noImage:hover {
  border: 1px solid;
  filter: drop-shadow(5px 5px 5px gray)
}

.hasImage h3 {
  margin: 50px 15px 10px;
  filter: drop-shadow(0px 0px 2px whitesmoke);
}

.hasImage p {
  margin: 20px 8px;
  font-weight: bold;
}

.hasImage {
  vertical-align: bottom;

  width: 14.5rem;
  height: 14.5rem;

  margin: 0px 0px 0px 0px;
  padding: 0px;

  display: inline-block;
  position: relative;

  border: 1px solid transparent;

  overflow: hidden;
  filter: drop-shadow(3px 3px 1px transparent)
}

.hasImage:hover {
  border: 1px solid;
  filter: drop-shadow(3px 3px 1px gray)
}

.hasImage .imageFront {
  opacity: 0;
}

.hasImage:hover .imageFront {
  opacity: 1;
}

.backImage {
  width: 96%;

  position: absolute;
  top: 0%;
  left: 2%;

  filter: blur(0px);
  opacity: 1;
}

.hasImage:hover .backImage {
  filter: blur(5px);
  opacity: 0.1;
}