#copyright {
  padding: 5px;
  opacity: 0.9;
  color: whitesmoke;
  background: #2010f8;
}

#copyright a {
  color: whitesmoke;
  text-decoration: none;
}

#copyright a:hover {
  color:rgb(255,41,30);
  outline: solid 1px;
}