header * {
  margin: auto;
}

#header-logo {
  max-width: 600px;
  padding: 30px 0px 10px;
}

.header-link {
  padding: 2vw 7vw;

  font-size: x-large;
  font-family: sans-serif;
  text-decoration: none;

  display: inline-block;

  transition-duration: 0.2s;
}

.header-link:hover {
  color: rgb(255,41,30);
}

.header-link::before {
  content: "†";
  transition-duration: 0.2s;
}
.header-link::after {
  content:"†";
  transition-duration: 0.2s;
}
.header-link::before, .header-link::after {
  color: transparent;
}

.header-link:hover::before, .header-link:hover::after {
  color: #2010f8;
}

#poem{
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 10px auto;
  font-size: larger;
  opacity: 0.2;
}