@import "../../abstracts/variables";

.char-image {
  display: inline-block;
  max-width: 400px;

  width: 70%;
  height: auto;

  margin: 50px;
  border: 5px double transparent;

  filter: drop-shadow(0px 0px 1px);

  transition: 0.3s;
  -webkit-transition: all 0.3s;

  &:hover {
    filter: drop-shadow(8px 0px 1px);
    border: 5px double $main-color;
  }
  &:after {
    content: "";
    filter: drop-shadow(0px 0px 2px);
  }
}

.profile-tables {
  display: inline-block;
  vertical-align: bottom;

  width: 100%;
  max-width: 300px;

  margin: 10px 20px 50px;
  text-align: center;

  * {
    transition: 0.3s;
    -webkit-transition: all 0.3s;
  }
  td {
    margin: auto;
    padding: 5px;
  }
  .profile-row {
    .key {
      text-align: right;
    }
    .sep {
      text-align: center;
      padding: 0px;
    }
    .detail {
      color: transparent;
      background-color: transparent;

      position: absolute;
      transform: translate(0, -100%);

      transition: 0.3s;
      -webkit-transition: all 0.3s;
    }
    &:hover {
      .value {
        color: transparent;
      }
      .detail {
        color: $background-color;
        background-color: $main-color;

        padding: 0px 8px;
      }
    }
  }
}