.stamps-list {
  max-width: 1200px;

  margin: 20px auto 100px;
  padding: 10px 50px 30px;
}

.stamps-item {
  width: 12rem;
  height: 12rem;

  margin: 10px;

  display: inline-block;
  position: relative;
}