@import "../abstracts/variables";

footer {
  a {
    text-decoration: none;
  }

  .copyright {
    padding: 5px;
    color: $background-color;
    background: $main-color;

    a {
      color: $background-color;

      &:hover {
        color: $accent-color;
        outline: solid 1px;
      }
    }
  }
}